# testing requirements
pytest
pytest-cov

# code quality
black
flake8

# package management
bump2version
twine

# documentation
jupyter-book
sphinx-autodoc-typehints
furo
sphinx-pydantic

# QPROP dependencies
pint
numpy
matplotlib
